<h1 class="text-center">Two Way</h1>
<div class="d-flex justify-content-center">
    <div class="w-50">
        <div class="mt-3">
            <label for="inputInt">Primer numero</label>
            <input id="inputInt" type="number" [(ngModel)]="numero1"/>
            <label for="inputInt">Segundo numero</label>
            <input id="inputInt" type="number" [(ngModel)]="numero2"/>
            
        </div>
        <div class="mt-3">
            <div class="alert alert-success mt-4">
                {{numero1 + numero2}}
            </div>
            
        </div>
    </div>
</div>